<h1 class="mat-display-3">Harri IO</h1>

<p class="mat-h2">
  This is an interactive portfolio created by
  <a href="https://www.linkedin.com/in/evansharrison">Harrison Evans</a>,
  intended to show off some enterprise Angular concepts & examples.
</p>

<hr />

<p class="mat-h3">Notable libraries used in the making of this site:</p>

<ul class="mat-h3">
  <li>
    <a href="https://angular.io/">
      <img src="assets/angular.svg" />
      Angular
    </a>
  </li>
  <li>
    <a href="https://material.angular.io">
      <img src="assets/material.svg" />
      Angular Material
    </a>
  </li>
  <li>
    <a href="https://material.angular.io/cdk/">
      <img src="assets/cdk.svg" />
      Angular CDK
    </a>
  </li>
  <li>
    <a href="https://nx.dev/">
      <img src="assets/nx-logo.svg" />
      NX Workspace
    </a>
  </li>
</ul>

<hr />

<div class=" centered">
  For looks, all credit goes to: &nbsp;
  <a class="centered" href="https://material.io/design">
    <img class="material-logo" src="assets/material-logo.svg" />
    Material Design
  </a>
</div>
