@use '~@angular/material' as mat;

@mixin mat-table-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .custom-mat-table__table-container {
    border-color: mat.get-color-from-palette($accent, 500);

    table.mat-table {
      background: transparent;

      th.mat-header-cell {
        color: mat.get-contrast-color-from-palette($accent, 500);
      }

      th.mat-header-cell,
      td.mat-cell {
        border-bottom-color: mat.get-color-from-palette($accent, 500);
      }
    }

    .mat-paginator,
    .mat-header-cell {
      background: mat.get-color-from-palette($accent, 500);
    }

    .mat-paginator,
    .mat-paginator-page-size .mat-select-trigger .mat-select-value,
    .mat-paginator-page-size .mat-select-trigger .mat-select-arrow {
      color: mat.get-contrast-color-from-palette($accent, 500);
    }

    .mat-icon-button[disabled][disabled] {
      color: darken(mat.get-contrast-color-from-palette($accent, 500), 50%);
    }

    .mat-paginator-page-size .mat-form-field-underline {
      background-color: mat.get-contrast-color-from-palette($accent, 500);
    }
  }
}
